@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
:root {
  --font-family: 'Open Sans', sans-serif;
}
.p-component {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: var(--surface-0);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.comment .p-card-content {
  padding: 0 !important;
}
.comment .p-card-body {
  padding: .5rem 1rem !important;
}